<div class="jumbotron my-2 indexHeader">
    <h1 class="display-4">Northwind</h1>
    <p class="lead">We have the best prices and selection of high quality foods &amp; beverages on the planet! Check out our featured discounts below.</p>
    <hr class="my-4">
    <p>For exceptional international quisuine, look no further.</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button"><i class="fas fa-shopping-cart"></i> Order Now</a>
</div>
<div class="container-fluid card-container">
    <div class="row">
        <div class="col-sm">
            <div class="card indexCard" style="border-radius: 5px;box-shadow: 10px 10px 8px #888888;">
                <img src="/indexPics/northwindsDiscounts.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hot Discounts!</h5>
                    <p class="card-text">Check out our featured discounts on dozens of the best food products anywhere.</p>
                    <a href="#" class="btn btn-primary">View Discounts</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card indexCard" style="border-radius: 5px;box-shadow: 10px 10px 8px #888888;">
                <img src="/indexPics/northwindsSignUp.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sign Up Today!</h5>
                    <p class="card-text">To get high quality food and beverage delivered right to your door.</p>
                    <a href="#" class="btn btn-primary">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card indexCard" style="border-radius: 5px;box-shadow: 10px 10px 8px #888888;">
                <img src="/indexPics/northwindsSuppliers.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Top Rated Suppliers</h5>
                    <p class="card-text">Best suppliers of quality foods and beverage. See where we are getting our food.</p>
                    <a href="#" class="btn btn-primary">View Our Suppliers</a>
                </div>
            </div>
        </div>
    </div>
   
    @section Scripts {
        <script>
           
        </script>
    }
